* {
    box-sizing: border-box;
}

html {
    line-height: 1.5;
    font-family: "Montserrat", "Helvetica Neue", "Open Sans", sans-serif, serif;
    font-size: 1rem;
}

body {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

header {
    /* position: fixed; */
    display: block;
}

li.menu-item a {
    padding: 5px 10px;
    font-size: 0.9rem;
    color: #4b4b4b;
    font-weight: bold;
}

nav.navbar {
    text-align: right;
    padding-right: 20px;
}

section#intro {
    height: 70vh;
}

.container {
    max-width: 1270px;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 50px 20px;
}

img#profile-img {
    width: 50%;
    border-radius: 50%;
}

div#profile-container {
    background-color: #eeebef;
    align-items: center;
    display: flex;
    justify-content: center;
}

div#intro-content{
    padding:20px;
}
div#intro-content article{
    width: 80%;
    margin: auto;
}

section#intro {
    background-color: #ebde98;
    vertical-align: middle;
}

section#experience {
    background-color: #195e85;
    color: white;
}
ul.social-list{
    padding: 0;
}

.card {
    display: flex;
    margin-bottom: 20px;
}
.card-image{
    display: flex;
    align-items: center;
}

.card-image img {
    width: 200px;
}

.d-flex {
    display: flex;
}

.card-content {
    padding: 0 50px;
}

.card-content p {
    color: #eeeeee;
}

span.pill {
    background: rgba(0, 0, 0, 0.3);
    font-size: 0.8em;
    padding: 10px;
    border-radius: 20px;
    color: #fdcb6e;
    margin: 5px;
    display: inline-block;
    min-width: 60px;
    text-align: center;
}

.pill-container {
    width: 80%;
}

.card.portfolio-card img {
    width: 500px;
    border: solid 1px #ddd;
}

section#contact {
    background-color: #bb6150;
    color: white;
    text-align: center;
    padding: 50px;
}


.portfolio-card .card-content a {
    display: block;
}

.portfolio-card .card-content {
    font-weight: bold;
    display: flex;
    align-items: center;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 0.8em;
}
footer a{
    color: #bb6150;
}
.h-100{
    height: 100%;
}

li.menu-item a:hover, li.menu-item a.active {
    border-bottom: solid 3px #BB6150;
    color: #BB6150;
}
.t-center{
    text-align: center;
}
.highlight{
    color: #BB6150;
}
img.icon {
    width: 32px !important;
    margin: 5px;
}
img.icon-sm{
    width: 16px !important;
    margin: 5px;
}

@media screen and (max-width: 768px){
    .card{
        display: block !important;
        text-align: center;
        margin-bottom: 50px;
    }
    .card-image, .card-content{
        display: block !important;
    }
    .card.portfolio-card img{
        width: 100% !important;
    }
    section#intro{
        height: auto !important;
    }
    .intro-content-container{
        display: block;
    }
    .intro-content-container{
        margin-top: 60px;
    }
    div#profile-container{
        padding: 20px;
    }
    header{
        position:fixed;
        top: 0;
        left: 0;
        width:100%;
        background-color: white;
    }
    .navbar{
        text-align: center;
        padding: 0 !important;
    }
    .menu{
        padding:0;
    }
    li.menu-item a{
        font-size: 0.8rem;
    }
    .pill-container{
        width: 100%;
        text-align: left;
    }
}

@media screen and (max-width:425px){
    img.icon{ 
        width: 20px !important;
    }
    h2{
        font-size: 1.2em;
    }
    h3{
        font-size: 1em;
    }
}